<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Logo</a>
      <ul class="left hide-on-med-and-down">
        <li {{#if isActiveH }} class="active" {{/if}}>
          <a href="/">Home</a>
        </li>
        <li {{#if isActiveA }} class="active" {{/if}}>
          <a href="/about">About</a>
          </li>
        <li {{#if isActiveC }} class="active" {{/if}}>
          <a href="/courses">Courses</a>
        </li>
        <li {{#if isActiveAdd }} class="active" {{/if}}>
          <a href="/add">Add course</a>
        </li>
        <li {{#if isActiveCart }} class="active" {{/if}}>
          <a href="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>