<h1>Add course</h1>
<form action="/add" method="post">
    <div class="input-field col s12">
        <input id="course_name" type="text" name="course_name">
        <label for="course_name">Course name</label>
    </div>
    <div class="input-field col s12">
        <input id="author" type="text" name="author">
        <label for="author">Author</label>
    </div>
    <input type="hidden" name="_csrf" value="{{csurf}}" />
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</form>