<h1>Cart</h1>
{{#if cart}}
<ul class="collection">
    {{#each cart}}
        <li class="collection-item">
            {{id}}
        </li>
    {{/each}}
</ul>

{{else}}
<h3>Cart is empty</h3>
{{/if}}